/*tous*/
*{
    font-family: Montserrat, sans-serif;
}

html,body{
    background-color: #CACACA;
    height: 100%;
    margin: 0px;
}

header{
    background-color: #B3B3B3;
    height: 5vh;
    border-bottom: 3px solid #ffffff;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 20px;
    border-radius: 9px;
}

header > div{
    align-items:center ;
    margin: 5px;
    background-color: #e2a764;
    border: 2px solid #000000;
    padding: 3px 10px 1px 10px;
    border-radius: 15px;

}

.titre_de_la_page{
    text-align: center;
    font-size: 50px;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 133.5px;
}

main {
    min-height: 100%;
    margin-bottom: -50px;
}

main > p{
    margin: 5px 20px 133.5px 20px;

}

footer{
    margin-top: 30px;
    background-color: #B3B3B3;
    position: relative;
    height: 5vh;
    border-top: 3px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/*portfolio*/
.flex_profil{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.image_profil{
    height: 416px;
    width: 271px;
    border: 10px solid #5698ED;
    border-radius: 15px;
    margin-left : 2px;
}

.titre_avec_paragraphe{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 10px solid #5698ED;
    border-radius: 15px;
    background-color: #9CC4F8;
    margin-right: 2px;
}

/*formation*/
.grid_formation{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    margin: 5px;
}

.grid_formation > div:nth-child(-n + 2){
    border-top: 10px solid #5698ED;
    border-bottom: 10px solid #5698ED;
    padding: 1px;
    padding-right: 10px;
    background-color: #9CC4F8;
}

.grid_formation > div:nth-child(1){
    border-left: 10px solid #5698ED;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.grid_formation > div:nth-child(2){
    border-right: 10px solid #5698ED;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.grid_formation > div:nth-child(n + 3){
    border-top: 10px solid #5698ED;
    border-bottom: 10px solid #5698ED;
    padding: 1px;
    padding-right: 10px;
    background-color: #9CC4F8;
}

.grid_formation > div:nth-child(3){
    border-left: 10px solid #5698ED;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.grid_formation > div:nth-child(4){
    border-right: 10px solid #5698ED;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.image_formation{
    height: 100%;
    width: 100%;
    justify-content: center;
    object-fit: contain;
    
}

/*expérience*/
.flex_experience{
    display: flex;
    flex-direction: row;
    gap: 30px;
    border: 10px solid #5698ED;
    border-radius: 15px;
    background-color: #9CC4F8;
    margin-left: 30px;
    margin-right: 30px;
}
/*projet*/
.grid_projet{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 75px;
}

.grid_projet > div:nth-child(-n + 2){
    border-top: 10px solid #5698ED;
    border-bottom: 10px solid #5698ED;
    padding: 1px;
    padding-right: 10px;
    background-color: #9CC4F8 ;
}

.grid_projet > div:nth-child(1){
    border-left: 10px solid #5698ED;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.grid_projet > div:nth-child(2){
    border-right: 10px solid #5698ED;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.grid_projet > div:nth-child(n + 3){
    border-top: 10px solid #5698ED;
    border-bottom: 10px solid #5698ED;
    padding: 1px;
    padding-right: 10px;
    background-color: #9CC4F8 ;
}

.grid_projet > div:nth-child(3){
    border-left: 10px solid #5698ED;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.grid_projet > div:nth-child(4){
    border-right: 10px solid #5698ED;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.image_projet{
    height: 100%;
    width: 100%;
    justify-content: center;
    object-fit: contain;
}

/*veille technologique*/
.grid_veille_technologique{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:1fr 1.1fr;
    column-gap: 500px;
    margin: 5px 100px 5px 100px; ;
}

.grid_veille_technologique > div:nth-child(2n + 1){
    border-left: 10px solid #5698ED;
    border-right: 10px solid #5698ED;
    padding: 1px;
    padding-bottom: 10px;
    background-color: #9CC4F8;
}

.grid_veille_technologique > div:nth-child(1){
    border-top: 10px solid #5698ED;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.grid_veille_technologique > div:nth-child(3){
    border-bottom: 10px solid #5698ED;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.grid_veille_technologique > div:nth-child(2n) {
    border-left: 10px solid #5698ED;
    border-right: 10px solid #5698ED;
    padding: 1px;
    padding-bottom: 10px;
    background-color: #9CC4F8;
}

.grid_veille_technologique > div:nth-child(2){
    border-top: 10px solid #5698ED;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.grid_veille_technologique > div:nth-child(4){
    border-bottom: 10px solid #5698ED;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.image_veille_technologique{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

/*Mentions légales*/
.texte_mention_legale{
    margin-top: 5px;
    margin-left: 300px;
    transform: scale(1.5);
}