/*tous*/
*{
    font-family: Montserrat, sans-serif;
    color: #000000;
}

html,body{
    background-color: #CACACA;
    height: 100%;
    margin: 0px;
}

header{
    background-color: #B3B3B3;
    height: 5vh;
    border-bottom: 3px solid #ffffff;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-size: 20px;
    border-radius: 9px;
}

header > button{
    align-items:center ;
    margin: 5px;
    background-color: #9CC4F8;
    border: 2px solid #5698ED;
    padding: 3px 10px 1px 10px;
    border-radius: 15px;
    cursor: pointer; 
    border-style: solid;
    transition: transform 0.2s ease-in-out;
}

header > button > a{
    text-decoration: none;
    color: #000000;
}

header > button:hover {
    transform: scale(1.1);
}

.titre_de_la_page{
    text-align: center;
    font-size: 80px;
    font-style: italic;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 30px;
}

main {
    min-height: 100%;
    margin-bottom: -50px;
}

main > p{
    font-size: 30px;
    line-height: 1.6;
    margin: 5px 5px 50px 40px;
}

footer{
    margin-top: 30px;
    background-color: #B3B3B3;
    position: relative;
    height: 5vh;
    border-top: 3px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/*profil*/
.flex_profil{
margin-left: 450px; 
    margin-right: 450px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.flex_profil > div > h2{
    font-size: 45px;
}

.flex_profil > div > p{
    font-size: 20px;
}

.image_profil{
    height: 416px;
    width: 271px;
    border: 10px solid #5698ED;
    border-radius: 15px;
}

.titre_avec_paragraphe{
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 10px solid #5698ED;
    border-radius: 15px;
    background-color: #9CC4F8;
}

/*formation*/
.grid_formation{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 50px;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 75px;
}

.grid_formation > div{
    border-top: 10px solid #5698ED;
    border-bottom: 10px solid #5698ED;
    padding: 20px;
    background-color: #9CC4F8;
    box-sizing: border-box;
}

.grid_formation > div:nth-child(2n + 1){
    border-left: 10px solid #5698ED;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_formation > div:nth-child(2n){
    border-right: 10px solid #5698ED;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    align-self: stretch;
    padding-left: 0; 
}

.image_formation{
    object-fit: cover;
    display: block;
    max-width: 100%;
}

.epreuve_e5_section {
    margin-top: 80px;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 75px; 
    padding: 20px 30px; 
    background-color: #9CC4F8;
    border-radius: 15px;
    border: 10px solid #5698ED;
}

.epreuve_e5_section > h2 {
    color: #5698ED;
    border-bottom: 2px solid #5698ED;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 20px;
}

.epreuve_e5_section > h3 {
    margin-top: 30px;
    color: #333;
}

.epreuve_e5_section > ul {
    list-style-type: disc;
    padding-left: 25px;
    line-height: 1.6;
}

.epreuve_e5_section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*expérience*/
.flex_experience{
    margin-left: 450px; 
    margin-right: 450px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    border: 10px solid #5698ED;
    border-radius: 15px;
    background-color: #9CC4F8;
}

/*projet*/
.grid_projet{
    display: grid;
    grid-template-columns: 1fr 1.5fr ;
    grid-template-rows: repeat(2, auto);
    row-gap: 100px;
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 75px;
    
}

.grid_projet > div{
    border-top: 10px solid #5698ED;
    border-bottom: 10px solid #5698ED;
    padding: 20px;
    padding-right: 10px;
    background-color: #9CC4F8;
    box-sizing: border-box;
}

.grid_projet > div > h2{
    font-size: 30px;
}

.grid_projet > div > ul{
    font-size: 20px;
}

.grid_projet > div:nth-child(2n + 1){
    border-left: 10px solid #5698ED;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_projet > div:nth-child(2n){
    border-right: 10px solid #5698ED;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;    
    align-self: stretch; 
    padding-left: 10px;
}

.image_projet{
    object-fit: contain;
    display: block;
    max-width: 100%;
}

/*veille technologique*/
.grid_veille_technologique{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    margin: 80px 450px 75px 450px;
}

.grid_veille_technologique > div{
    border: 10px solid #5698ED;
    background-color: #9CC4F8;
    padding: 20px 30px;
    box-sizing: border-box;
}

.grid_veille_technologique > div:nth-child(2n){
    border-top: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 10px;
}

.grid_veille_technologique > div:nth-child(2n+1){
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-bottom: 0px;
}

.image_veille_technologique{
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

/*Mentions légales*/
.texte_mention_legale{
    margin-top: 5px;
    margin-left: 300px;
    transform: scale(1.5);
}